@import './base.css';

html,
body,
#app {
  width: 100vw;
  margin: 0 auto;
  /* padding: 2rem; */
  padding: 0;
  font-weight: normal;
  display: flex;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.pass {
  color: #00ff00 !important;
}

.warning {
  color: #ff0000 !important;
}

.flicker {
  animation: flickerAnimation 0.5s infinite;
  cursor: pointer !important;
}

@keyframes flickerAnimation {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* padding: 0 2rem; */
  }
}



